# Dependency directories
node_modules/

# Source files
src/

# Configuration files
tsconfig.json
vite.config.ts
biome.json

# Tests
**/*.test.ts

# Misc
.DS_Store
*.log

# Tools directories
.github
.idea
